.Container_Main_AboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}
.Container_AboutMe {
  max-width: 100%;
  position: relative;
  color: white;
  z-index: 2;
  background-color: rgb(0 0 0 / 95%);
  margin-bottom: 3%;
  letter-spacing: 1px;
  padding: 4%;
}
.Container_AboutMe H1 {
  margin-bottom: 2%;
}
.Container_AboutMe p {
  color: white;
}
h1 {
  margin: 0px;
  text-align: center;
}

/*--------RESPONSIVE-------*/
@media screen and (max-width: 480px) {
  .Container_Main_AboutMe {
    margin-top: 200px;
  }
}
/*TABLET (HORIZONTAL)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Estilos para tablets en horizontal */
  .Container_AboutMe {
    width: auto;
  }
  .Container_Main_AboutMe {
    margin-top: 200px;
  }
}
