.Container_Main_AboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Container_AboutMe {
 
  position: relative;
  color: white;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.748);
  width: 900px;
  margin-bottom: 3%;
  letter-spacing: 1px;
  padding: 3%;
}

.Container_AboutMe p {
  color: white;
}
h1 {
  margin: 0px;
  text-align: center;
}

/*********** responsive ************/
/*
@media screen and (max-width: 480px) {
  Estilos para móviles pequeños 

  .Container_AboutMe {
    position: absolute;
    color: white;
    z-index: 0;
    padding: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 306px;
  }
}
@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .Container_AboutMe {
    position: absolute;
    color: white;
    z-index: 0;
    top: 75%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 3%;
  }
}
@media (min-width: 768px) {
  .Container_AboutMe {
    position: absolute;
    color: white;
    z-index: 0;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 83%;
  }
}
/*TABLET (HORIZONTAL)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Estilos para tablets en horizontal 
  .Container_AboutMe {
    position: absolute;
    color: white;
    z-index: 2;
    padding: 3%;
    top: 83%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
/*PORTÁTIL O NOTEBOOK
@media (min-width: 1025px) and (max-width: 1366px) {
  /* Estilos para portátiles estándar 
  .Container_AboutMe {
    position: absolute;
    color: white;
    z-index: 2;
    width: 80%; /* Ancho del contenedor */
/* Centramos vertical y horizontalmente 
    top: 80%; /* 50% de la altura de la pantalla 
    left: 50%; /* 50% del ancho de la pantalla 
    transform: translate(-50%, -50%);
  }
}
/*PANTALLAS DE ESCRITORIO (FULL HD Y MÁS)
@media (min-width: 1367px) and (max-width: 1920px) {
  /* Estilos para pantallas grandes de escritorio 
  .Container_AboutMe {
    position: absolute;
    color: white;
    z-index: 2;
    top: 55%;
    left: 52%;
    width: auto;
    transform: translate(-50%, -50%);
  }
}
*/
