/* Contenedor principal */
.Container_Main_Curriculum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /*margin-top: 300px;*/
  color: white;
  /*position: relative;*/
}

/* Animación entrada desde la izquierda título de formación */
.Container_Training_h2 {
  color: white;
  transform: translateX(-100%);
  animation: slideInLeft 1s ease-out forwards;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.Container_Courses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
.Container_all_Courses {
  background-color: rgba(0, 0, 0, 0.823);
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 2s ease-out forwards;
  animation-delay: 0.5s; /* aparece después del título */
  border-bottom: 1px solid #ffffff52;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* stilos para deplegar los cursos*/
.toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #000000d8;
  padding: 10px;
  border-radius: 6px;
}
.arrow-img img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  border-radius: 100%;
  margin-left: 10px;
  transition: transform 0.8s ease;
  margin-top: 2px;
}

.arrow-img.rotar img {
  transform: rotate(180deg); /* puedes usar 45deg si prefieres */
  margin-left: 50px;
}

.Box_Skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.skill-icon {
  text-align: center;
  width: 80px;
}

.skill-icon img {
  width: 50px;
  height: 50px;
}

.skill-icon p {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.Container_Training,
.Container_Skills {
  padding: 31px;
}
.Container_Skills {
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 0px 6px 1px white;
  background-color: rgba(0, 0, 0, 0.863);
  padding: 20px;
  margin: 25px;
  opacity: 0;
  transform: translateY(50px);
  animation: slideInContainer 2s ease-out forwards;
}
/* Keyframes para el contenedor */
@keyframes slideInContainer {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes: animación de izquierda hacia posición final */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(
      0
    ); /* o usa translateX(20%) para dejarlo más al centro */
  }
}
/* Animación entrada desde la derecha título de habilidades */
.Container_Skills_h2 {
  color: white;
  transform: translateX(-100%);
  animation: slideInRigth 1s ease-out forwards;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin: 0px;
  margin-bottom: 25px;
}

/* Keyframes: animación de izquierda hacia posición final */
@keyframes slideInRigth {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(
      0
    ); /* o usa translateX(20%) para dejarlo más al centro */
  }
}
