.Box__Header {
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    position: fixed; /* Fijo en la pantalla */
    left: 0;
    top: 0;
    height: 100vh; /* Ocupa toda la pantalla */
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .Box__Header {
        flex-direction: row; /* Alinea en fila en móviles */
        width: 100%;
        height: auto;
        position: fixed;
        top: 25px;
        left: 35px;
        justify-content: space-between;
    }



}