.Container_main_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.Box__Header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*width: 100%;
  position: fixed;  probando responsive me funciona por ahora en iphone
  top: 0px;*/
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.588);
 position: relative;  /*para cuadrar cada p치g ariiba*/
}

@media screen and (max-width: 480px) {
  /* Estilos para m칩viles */
  .Box__Header {
    padding: 0px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Estilos para tabletas en vertical */
  .Box__Header {
    padding: 0px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Estilos para m칩viles en horizontal */
  .Box__Header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para ordenador en vertical */
  .Box__Header {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1281px) {
  /* Media Query para dispositivos m칩viles grandes en horizontal */
  .Box__Header {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1282px) and (max-width: 1920px) {
  /* Estilos para ordenador en vertical */
  .Box__Header {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
}
