.Box__Natalia{
    color:white;
    position: relative;
    z-index: 2;
    /*text-align: center;*/
    max-width: 80%; /* Evita que sea demasiado ancho */
    margin: 20px auto; /* Centrado con margen automático */
  
}
.Box_Natalia_P a{
    color:white;
    font-size: 18px;
}
.Box_Natalia_P a:hover{
    font-weight: 500;
}
.Box_Natalia_CV {
    background-color:  white;
    color:black;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s ease;
}
.Box_Natalia_CV a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.Box_Natalia_CV:hover {
    background-color:rgb(165, 163, 163);
    opacity: 0.5;
    font-weight: bold;
}



/*redes sociales*/

.Box_AboutMe_networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*position: absolute;*/
    /*width: auto; /* Se ajusta al contenido */
    margin-top: 20px;
}

.Box_div_linkedin,
.Box_div_github{
    /*position: relative; *//* Evita problemas con position absolute */
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Box_div_github img,
.Box_div_linkedin img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

/* TABLET */
@media screen and (max-width: 1024px) {
    .Box__Natalia {
        max-width: 90%; /* Más espacio en pantallas medianas */
        text-align: center;
    }

    .Box_Natalia_CV {
        width: 180px;
        font-size: 18px;
    }
}

/* MÓVILES EN VERTICAL */
@media screen and (max-width: 768px) {
    .Box__Natalia {
        max-width: 95%;
        padding: 10px;
        top: auto;
        left: auto;
        right: auto;
        text-align: center;
    }

    .Box_AboutMe_networks {
        flex-direction: column; /* Redes sociales en columna */
        gap: 10px;
    }

    .Box_Natalia_CV {
        width: 100%; /* Botón ocupa el ancho completo */
    }
}

/* MÓVILES EN HORIZONTAL (Landscape) */
@media screen and (max-width: 900px) and (orientation: landscape) {
    .Box__Natalia {
        max-width: 80%;
        text-align: center;
    }

    .Box_AboutMe_networks {
        flex-direction: row;
        gap: 15px;
    }
}