.Box__Natalia{
    position: absolute;
    color: white; 
    z-index: 2;
    /* text-align: center; */
   width: 80%;
   /*margin: 20px auto; */
    top: 30%;
    left: 47%;
    transform: translate(-39%, -50%);
    
}
.Box_Natalia_P a{
    color:white;
    font-size: 18px;
}
.Box_Natalia_P a:hover{
    font-weight: 500;
}
.Box_Natalia_CV {
    background-color:  white;
    color:black;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s ease;
}
.Box_Natalia_CV a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.Box_Natalia_CV:hover {
    background-color:rgb(165, 163, 163);
    opacity: 0.5;
    font-weight: bold;
}



/*redes sociales*/

.Box_AboutMe_networks{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    /*position: absolute;*/
    /*width: auto; /* Se ajusta al contenido */
    margin-top: 20px;
}

.Box_div_linkedin,
.Box_div_github{
    /*position: relative; *//* Evita problemas con position absolute */
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.Box_div_linkedin:hover,
.Box_div_github:hover{
    background-color:rgb(165, 163, 163);
    opacity: 0.5;
    font-weight: bold;
}

.Box_div_github img,
.Box_div_linkedin img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid white;
   
}


/*********** responsive ************/

@media screen and (max-width: 480px) {
    /* Estilos para móviles */

    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 80%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}

@media screen and (min-width: 412px) and (max-width: 914px) {
    /* Estilos para tabletas en vertical */
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 50%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Estilos para tabletas en horizontal */

    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 1;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 50%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}

@media screen and (min-width: 1024px) {
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 50%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
    /* Estilos para ordenador en horizontal */
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 50%; /* 50% de la altura de la pantalla */
        left: 68%; /* 50% del ancho de la pantalla *

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}
@media screen and (max-width: 600px) {
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 60%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 50%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    /* Estilos para móviles en horizontal */
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 0;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 80%; /* 50% de la altura de la pantalla */
        left: 50%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
    /* Media Query para dispositivos móviles grandes en horizontal */
    .Box__Natalia {
        position: absolute;
        color: white;
        z-index: 2;
        width: 80%;  /* Ancho del contenedor */
        padding: 20px;

        /* Centramos vertical y horizontalmente */
        top: 67%; /* 50% de la altura de la pantalla */
        left: 58%; /* 50% del ancho de la pantalla */

        /* Utilizamos transform para centrar exactamente */
        transform: translate(-50%, -50%);

        /* Ajustes adicionales si es necesario */
        /* max-height: 90%; */
        /* overflow-y: auto; */
    }
}
   
