/* Estilos caja del Nav */
/* Contenedor de navegación */
.Container_Nav {
    /*position: absolute;*/
    background: rgba(0, 0, 0, 0.9);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre elementos */
    z-index: 80;
}
.Container_Nav.Open {
    right: 0px;
}

.Box__Nav__Ul{  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    gap: 18px;
    padding: 0px;
    position: absolute;
    /*margin-left: 50px;*/
    z-index: 99; 
    /*left: 120px;*/
    /*top: 160px;*/
    transform: translateX(0%);
    padding: 10px;
    border-radius: 10px;
}
.Box__Nav__Ul li{
    color:white;
}
.Box__Nav__Li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.Box__Nav__Li{
    text-decoration: none;
}
/* Menú hamburguesa */
.Menu_Hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 25px;
    right: 15px;
    z-index: 1;
}
.Bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 480px) {
    /* Estilos para móviles */

    .Container_Nav {
        position: absolute;
        top: 9px;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 80;
    }
    .Box__Nav__Ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        list-style: none;
        gap: 18px;
        position: absolute;
        top: 98px;
        left: 80px;
        background-color: rgba(64, 63, 63, 0.9); /* gris claro y semitransparente */
        backdrop-filter: blur(6px);
        z-index: 99;
        
    }
    .Menu_Hamburguesa {
        display: flex; 
        flex-direction: column;
        top: 40px;
        right: 30px;
        cursor: pointer;
    }
    .Container_Nav.Open {
        height:350px;
        
    }
}

@media screen and (min-width: 412px) and (max-width: 914px) {
    /* Estilos para tabletas en vertical */
    .Container_Nav {
        position: absolute;
        top: 9px;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Box__Nav__Ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        list-style: none;
        gap: 18px;
        position: absolute;
        top: 98px;
        left: 36px;
    }
    .Menu_Hamburguesa {
        display: flex; 
        flex-direction: column;
        top: 40px;
        right: 57px;
        cursor: pointer;
    }
    .Container_Nav.Open {
        height:350px;
    }

}

@media screen and (max-width: 768px) and (orientation: landscape) {
    /* Estilos para móviles en horizontal */
    .Container_Nav {
        position: absolute;
        top: 9px;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        
    }
    .Box__Nav__Ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        list-style: none;
        gap: 18px;
        position: absolute;
        top: 98px;
        left: 55px;
        background-color: rgba(64, 63, 63, 0.9); /* gris claro y semitransparente */
        backdrop-filter: blur(6px);
        z-index: 9;
    }
    .Menu_Hamburguesa {
        display: flex; 
        flex-direction: column;
        top: 40px;
        right: 30px;
        cursor: pointer;
    }
    .Container_Nav.Open {
        height:350px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
    /* Media Query para dispositivos móviles grandes en horizontal */
    .Container_Nav {
        position: absolute;
        top: 9px;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Box__Nav__Ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        list-style: none;
        gap: 18px;
        position: absolute;
        top: 98px;
        left: 20px;
    }
    .Menu_Hamburguesa {
        display: flex; 
        flex-direction: column;
        top: 40px;
        right: 75px;
        cursor: pointer;
    }
    .Container_Nav.Open {
        height:350px;
    }
}