.Container_Porfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.Container_Porfolio_h1 {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Container_box_jsonJobs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: self-start;
  gap: 60px;
}
.Container_job {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(0 0 0);
  padding: 30px;
  background-color: rgb(209 205 205 / 82%);
  border-radius: 4%;
  box-shadow: 0 0px 24px 0px rgb(255 255 255);
  animation: float2 4s ease-in-out infinite alternate;
  width: 300px;
  justify-content: center;
  margin-top: 300px;
}
/*
@keyframes float2 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, -10px);
    }
    50% {
      transform: translate(0px, -15px);
    }
    75% {
      transform: translate(-5px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
    */

@keyframes float2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-25px); /* Se eleva 15px*/
  }
}
.Container_job_p {
  margin: 0%;
}

.Container_job_image {
  width: 250px;
  border-radius: 4px;
}
.Container_job_h2 {
  text-align: center;
}

/* Contenedor para hacer link a github y enlace a l web*/
.Container_job_link {
  display: flex;
  align-items: revert;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 7%;
}

.Container_job_link_a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Container_job_link_img {
  border-radius: 50%;
  text-align: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/*********** responsive ************/

/* MÓVIL PEQUEÑO (VERTICAL)*/
@media screen and (max-width: 480px) {
  .Container_Porfolio {
    top: 150%;
  }
  .Container_box_jsonJobs {
    gap: 0px;
    margin-top: 200px;
  }
  .Container_job {
    width: 225px;
    margin-top: 153px;
  }
  .Container_job_image{
    width: 225px;
  }
}
